*.class
*.project
*.jar
*.war
*.ear
*.iml
.classpath
*/.settings/*
*/.svn/*
*/bin/*
*/target/*
.idea
*.log
*/disconf/*
/disconf
/target
.DS_Store
*/.DS_Store
.flattened-pom.xml
*.lst
pom.properties
target/
